#content {
    padding-top: 15%;
}
.error {
    color: rgba(200, 0, 0, 0.9);
    font-size: 0.9em;
}
.success{
    align-self: center;
    margin-left: 150px;
}
form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 20%;
    max-height: 100%;
}
label {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 18px;
}
#content a:hover, button:hover {
    cursor: pointer;
}
#content input, select, option {
    background-color: rgba(130, 130, 130, 0.35);
    color: #FFFFFF;
    border-radius: 10px;
    height: 35px;
}
#content option{
    color: black;
}
#playlist_genres {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
}
#playlist_genres label {
    transition: 0.4s;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 15px;
}
#playlist_genres label:hover, #playlist_privacy_options label:hover {
    transition: 0.4s;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
#playlist_privacy_options {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#playlist_privacy_options label {
    transition: 0.4s;
    margin-right: 40px;
}
#content button {
    margin-top: 30px;
    padding: 10px;
    transition: 0.3s;
    background-color: rgba(130, 130, 130, 0.35);
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 10px;
}
#content button:hover {
    transition: 0.3s;
    background-color: rgba(130, 130, 130, 0.50);
}